@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Store </h1>
    
    <p><a href="http://hskwon-wa2020a5.azurewebsites.net" target="_blank" class="btn btn-primary btn-lg">Music Store on Azure &raquo;</a></p>
</div>
